/**************************************************************
General Css
buttons
Page Layout
Top Navigation
SIdebar Nav
Panel
Company Widget
Modern Dashboard
User Comment
Mail Box
Lock Screen
Pricing tables
dark price
Responsive
bootstrap wizard form css****/

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 1.42857143;
    color: #666;
    background-color: #f5f5f5;
    min-height: 100%;
    margin: 0px;
    padding: 0px;
    line-height: 24px;
    overflow-x: hidden;
    font-weight: 400;
}
.m-b {
    margin-bottom: 15px;
}
.blog-post img {
    border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
}
.blog-desc {
    padding: 15px;
    background: #fff;
}
.recent-activities .media img {
    height: 40px;
}
.sale-state-box {
    padding: 15px;
    background-color: #01a8fe;
    color: #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    margin-top: 15px;
    box-shadow: 3px 4px 5px rgba(255,255,255,0.1);
}
.user-col {
    padding: 15px;
    background-color: #fff;
    margin-bottom: 30px;
}
.show-grid span {
    display: block;
    background: rgba(0,0,0,0.1);
    text-align: center;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    min-height: 40px;
    line-height: 40px;
    margin-bottom: 1px;
    margin-bottom: 15px;
    -webkit-transition: All 0.4s ease;
    -moz-transition: All 0.4s ease;
    -ms-transition: All 0.4s ease;
    -o-transition: All 0.4s ease;
    transition: All 0.4s ease;
}
.profile-overview, .profile-edit {
    padding: 15px;
    background-color: #fff;
}
.margin-b-30{margin:20px 0px;}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}
a:focus, a:hover, a {
    color: #23527c;
    text-decoration: none;
}
.white-text {
    color: #fff !important;
}
.cyan {
    background-color: #00bcd4 !important;
}
.right {
    float: right !important;
}
.orange {
    background-color: #7986CB  !important;
}
.teal {
    background-color: #009688 !important;
}
.green {
    background-color: #4CAF50 !important;
}
.background-icon {
    font-size: 74px;
    float: left;
    color: rgba(255,255,255,0.5);
}
.widget-icon {
    font-size: 55px;
    float: left;
    color: #666;
}
.table-responsive {
    min-height: .01%;
    overflow-x: hidden;
}
.page-title.marginb0
{
	margin-bottom:0px;
}
.btn-primary {
    color: #fff;
    background-color: #36c6d3;
       border-color: #01a8fe;

}

.btn:not(.btn-raised).btn-primary, .input-group-btn .btn:not(.btn-raised).btn-primary {
    color: #fff;
}

.btn.btn-sm, .input-group-btn .btn.btn-sm, .btn-group-sm .btn, .btn-group-sm .input-group-btn .btn {
    padding: 5px 10px;

}
.progress {
   position:relative;
}
.wdt-lable{min-width:120px; text-align:right;}
.panel{min-width:250px;}
.icon-wrap .icon, .icon-wrap .wi {
    font-size: 40px;
    display: inline-block;
    font-family: 'weathericons';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    min-width: 54px;
    text-align: center;

}
.fontawesome-icon-list li {
    list-style: none;
}

.wi {
    margin-right: 10px;
}
.glyphs.character-mapping li {
    margin: 0 30px 20px 0;
    display: inline-block;
    width: 90px;
}
.glyphs.character-mapping .icon {
    margin: 10px 0 10px 15px;
    padding: 15px;
    position: relative;
    width: 55px;
    height: 55px;
    color: #162a36 !important;
    overflow: hidden;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-size: 32px;
}
.glyphs.character-mapping input {
    margin: 0;
    padding: 5px 0;
    line-height: 12px;
    font-size: 12px;
    display: block;
    width: 100%;
    border: 1px solid #d8e0e5;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    outline: 0;
}
.glyphs.css-mapping .icon {
    margin: 0;
    margin-right: 10px;
    padding: 13px;
    height: 50px;
    width: 50px;
    color: #162a36 !important;
    overflow: hidden;
    float: left;
    font-size: 24px;
}
.glyphs.css-mapping li {
    margin: 0 30px 20px 0;
    padding: 0;
    display: inline-block;
    overflow: hidden;
}
.glyphs.css-mapping input {
    margin: 0;
    margin-top: 5px;
    padding: 8px;
    line-height: 16px;
    font-size: 16px;
    display: block;
    width: 150px;
    height: 40px;
    border: 1px solid #d8e0e5;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #fff;
    outline: 0;
    float: right;
}

.progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
.progress.progress-xxs {
	height:3px;
}
.progress.progress-xs {
	height:6px;
}
.progress.progress-lg {
	height:36px;
	overflow:hidden;
}
.progress.progress-lg span {
	line-height:36px;
	text-overflow:ellipsis;
	white-space: nowrap;
}


.progress.progress-lg span.inline-text {
	text-align:left;
	padding:8px;
	display:block;
	font-size:14px;
	position:absolute;
	min-width:50%;
}
.progress-bar-default {
	background-color:rgba(11,11,11,0.9);
}


/****buttons*********/
.btn{
    text-transform: capitalize;
    font-weight: 400;
    letter-spacing: 0px;
    border-radius:2px;
    -webkit-border-radius: 2px;
}
.btn:hover{
    opacity: 0.9!important;
}
.btn-link{
    color:  #01a8fe;
}
.btn-link:hover{
    color: #333;
}
.btn-default {
    background-color: #dae6ec;
    border-color: #dae6ec;
}
.btn-default:hover,.btn-default:focus{

    background:  rgba(0,0,0,0.1);
    border-color: rgba(0,0,0,0.1);
}
.form-control,.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
    border-radius: 0px;
    box-shadow: none;
    border: 1px solid rgba(0,0,0,0.1);
    color: #999;
    background-color: transparent;
}
.btn-primary{
    background-color: #01a8fe;
}

.btn-3d{
        border-bottom: 3px solid rgba(0,0,0,.15)!important;
}
.btn-circle{
    padding: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    font-size: 30px;
}
.btn-circle.btn-lg{
  width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 40px;
}
.btn-circle.btn-xs{
  width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
}
.hr-line-dashed {
    border-top: 1px dashed rgba(0,0,0,0.1);
    color: #ffffff;
    background-color:rgba(0,0,0,0.1);
    height: 1px;
    margin: 20px 0;
}
.input-group-addon{
    background-color: rgba(0, 0, 0, 0.1);
    border-color: rgba(0,0,0,0.2);
    color: #666;
}
.btn-white{
    background: rgba(0, 0, 0, 0.1);
     border-color: rgba(255,255,255,0.2);
     color: #666;
}
.btn-white:hover,.btn-white:focus{
    color:  #01a8fe;
      background: rgba(0, 0, 0, 0.1);
     border-color: rgba(255,255,255,0.2);
}
/***************************************************************

Page Layout

****************************************************************/

.fixed-top .page-container {
    margin-top: 50px;
}
.page-container {
    margin: 0;
    padding: 0;
    position: relative;
}
.content-wrapper.container {
    width: 100%;
}
.page-title {
    margin: 0px;
margin-left: -14px;
    margin-right: -15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 30px;
    background-color: #fbfbfb;
    border-bottom: 1px solid #eee;
}
.breadcrumb{background:transparent; margin-bottom:0px;}
div.dataTables_paginate {
    float: right;
    margin: 0;
}
div.dataTables_length label {
    font-weight: normal;
    float: left;
    text-align: left;
}
div.dataTables_filter label {
    font-weight: normal;
    float: right;
}
.footer {
    background: none repeat scroll 0 0 black;
    border-top: 1px solid #e7eaec;
    bottom: -295px;
    left: 0;
    padding: 10px 20px;
    position: absolute;
    right: 0;
    color:white;

}
.content-wrapper.container{padding-bottom:45px;}
.well, .white-bg{background:#fff;}
.sidebar-toggler
{float: left;
    padding: 11px 0px;
    color: #fff;
    font-size: 23px;
}
.search-bar{    width: 200px;
    float: left;
    padding: 10px;}
	.search-bar input{    border-radius: 20px !important;
	border:none !important;

    background: rgba(255,255,255,0.3);
    margin-left: 10px;
    padding: 10px;
    height: 31px;
    color: #fff;}
/****************************************************************

Top Navigation

*****************************************************************/
@media (max-width: 771px)
{

	.top-menu, .search-bar{display:none;}
	.sidebar-toggler {
    float: right;

    margin-right: 20px;
}

}
.menu-toggler a{color:#fff;}
.page-header.navbar {
    width: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    height: 50px;
    min-height: 50px;
    filter: none;
    background-image: none;
}
.page-header.navbar .page-logo {
    float: left;
    display: block;
    width: 235px;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
}
.page-header.navbar .page-logo .logo-default {
    margin: 15px 0 0;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-user .dropdown-toggle>img {
    float: left;
    margin-top: -5px;
    margin-right: 5px;
    height: 29px;
    display: inline-block;
}
.page-header.navbar .top-menu .navbar-nav>li>a {
      padding-top: 10px;
    padding-bottom: 10px;
}

.page-header.navbar .top-menu .navbar-nav>li>a:hover, .page-header.navbar .top-menu .navbar-nav>li>a:focus, .page-header.navbar .top-menu .navbar-nav>li.open>a {
    text-decoration: none;
    background-color: #363738;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown>.dropdown-toggle>i {
    font-size:25px;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown>.dropdown-toggle>.badge {
    font-family: "Open Sans",sans-serif;
    position: absolute;
    top: 10px;
    right: 5px;
    font-weight: 300;
    padding: 3px 6px;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-user .dropdown-toggle {
    padding: 12px 6px 11px 8px;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-user .dropdown-toggle>.username {
    display: inline-block;
    font-size: 13px;
    font-weight: 300;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu>li.external {
    display: block;
    overflow: hidden;
    padding: 15px;
    letter-spacing: .5px;

}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu>li.external>h3 {
    margin: 0;
    padding: 0;
    float: left;
    font-size: 13px;
    display: inline-block;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu {
    min-width: 160px;
    max-width: 275px;
    width: 275px;
    z-index: 9995;
	padding:0px;
}
.navbar-nav>li.dropdown-extended .dropdown-menu>li.external>a {
    display: inline-block;
    padding: 0;
    background: 0 0;
    clear: inherit;
    font-size: 13px;
    font-weight: 300;
    position: absolute;
    right: 10px;
    border: 0;
    margin-top: -1px;
}

.nav.pull-right > li > .dropdown-menu, .nav > li > .dropdown-menu.pull-right {
    right: 0px;
    left: auto;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-notification .dropdown-menu .dropdown-menu-list>li a .time {
    float: right;
    max-width: 75px;
    font-size: 11px;
    font-weight: 400;
    opacity: .7;
    filter: alpha(opacity=70);
    text-align: right;
    padding: 1px 5px;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-notification .dropdown-menu .dropdown-menu-list>li a .details {
    overflow: hidden;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-notification .dropdown-menu .dropdown-menu-list>li a .details .label-icon {
    margin-right: 10px;

}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-notification .dropdown-menu .dropdown-menu-list>li a .details .label-icon i {
    margin-right: 2px;
    margin-left: 1px;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu .dropdown-menu-list {
    padding-right: 0!important;
    padding-left: 0;
    list-style: none;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu .dropdown-menu-list>li:first-child a {
    border-top: none;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-tasks .dropdown-menu .dropdown-menu-list>li .progress {
    display: block;
    height: 8px;
    margin: 8px 0 2px;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-tasks .dropdown-menu .dropdown-menu-list>li .task .percent {
    float: right;
    font-weight: 600;
    display: inline-block;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-tasks .dropdown-menu .dropdown-menu-list>li .task .desc {
    font-size: 13px;
    font-weight: 300;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu .dropdown-menu-list>li>a {
    display: block;
    clear: both;
    font-weight: 300;
    line-height: 20px;
    white-space: normal;
    font-size: 13px;
    padding: 16px 15px 18px;
    text-shadow: none;
}
.label.label-icon {
    margin-right: 2px;
    text-align: center;
    padding: 4px 0px 4px 4px;
}
.ring-point {
    width: 6px;
    height: 6px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 100%;
    background-color: #36c6d3;
    position: absolute;
    right: 13px;
    top: 1px;
}
.ring {
     position: absolute;
    top: -8px;
    right: 3px;
    height: 25px;
    width: 25px;
    z-index: 10;
    border: 5px solid #36c6d3;
    border-radius: 100%;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.0;
}
@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}

/**********************************************************

SIdebar Nav

***********************************************************/
body.mini-navbar .sidebar {
    width: 70px;
    display: block;
	    position: absolute;
}
body.mini-navbar .profile-element, body.mini-navbar .nav-label, body.mini-navbar span.arrow {
    display: none;
}
body:not(.fixed-sidebar):not(.canvas-menu).mini-navbar .nav-second-level {
    display: none;
}
.mini-navbar .metismenu li:hover > .nav-second-level, .mini-navbar .metismenu li:focus > .nav-second-level {
    display: block;
    border-radius: 0 2px 2px 0;
    height: auto !important;
}
.mini-navbar .nav-heading, .mini-navbar .sidebar li .label{display:none;}
.mini-navbar .page-content-wrapper {
    margin-left: 74px;
	z-index:0;
}
.mini-navbar .sidebar-nav ul li a i{font-size:24px;}
.mini-navbar .sidebar-nav ul li{position:relative;}
.mini-navbar .sidebar{verflow: visible; z-index:1;}
.mini-navbar .nav-second-level {
    position: absolute;
    left: 70px;
    top: 0px;
    background-color: #222;
    padding: 10px 10px 10px 10px;
    font-size: 12px;
    min-width: 210px;
    z-index: 999999;
}
.sidebar-nav {
background:#000000;
}
.sidebar-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.sidebar-nav a, .sidebar-nav a:hover, .sidebar-nav a:focus, .sidebar-nav a:active {
  outline: none;
}
.sidebar-nav ul li, .sidebar-nav ul a {
  display: block;
}
.sidebar-nav ul a {
  padding: 10px 20px;
  color: #aaa;

}
.nav-heading span {
    color: #fff;
    padding: 10px 20px;
    font-size: 13px;
    margin-top: 10px;
    margin: 10px 0px;
    float: left;
    display: block;
    width: 100%;
}
.sidebar-nav ul a:hover, .sidebar-nav ul a:focus, .sidebar-nav ul a:active {
  color: #fff;
  text-decoration: none;
}
.sidebar-nav ul ul a {
  padding: 10px 30px;
  background-color: rgba(255, 255, 255, 0.1);
}
.sidebar-nav ul ul a:hover, .sidebar-nav ul ul a:focus, .sidebar-nav ul ul a:active {
  background-color: rgba(255, 255, 255, 0.2);
}
.sidebar-nav-item {
  padding-left: 5px;
}
.sidebar-nav-item-icon {
  padding-right: 5px;
}
@media (min-width: 992px)
{
.sidebar {
    width: 235px;

	    position: fixed;
    overflow-y: scroll;
    height: 100%;
	    overflow-x: hidden;
		    background: #000000;
}
.mini-navbar .sidebar{overflow: visible;}
}
.page-content-wrapper {
 margin-left: 218px;
    margin-top: 0;
    min-height: 600px;

    background: #f5f5f5;
	 position: relative;


}
@media (max-width: 991px)
{
	.page-content-wrapper {
    margin-left: 0px;
	}

.sidebar {
  z-index:1000;
    float: left;
display:none;
    width: 237px;
    position: fixed;
    overflow-y: scroll;
    height: 100%;
    overflow-x: hidden;
    background: #000000;
}
}
.mini-navbar-show .sidebar
{
	display:block;
}

/*******************************************************

Panel

********************************************************/
.panel
{
	border: 1px solid #e7ecf1!important;
	border-radius: 0px;
}
.panel-heading {
    border-bottom: 1px solid #eef1f5;
	padding: 15px 20px 10px;
	    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
	    font-size: 16px;
		text-transform:uppercase;
}
.panel-heading p
{
	    font-size: 10px;
    margin-bottom: 0px;
       display: block;
}
.panel-actions {
    right: 30px;
    position: absolute;
    top: 7px;
}
.panel-action-toggle:before {
    content: "\f107";
    font-family: "FontAwesome";
    font-size: 30px;
}
.panel-action-dismiss:before {
    content: "\f00d";
    font-family: "FontAwesome";
	 font-size: 30px;
}
.panel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -16px;
}
.card {
    overflow: hidden;
	margin-bottom:30px;
}
.card {
    position: relative;

    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 0px;
	    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.card .card-content {
    padding: 20px;
    border-radius: 0 0 2px 2px;
	position:inherit;
}
.card h4 {
    font-size: 3.28rem;
    line-height: 110%;
    margin: 1.14rem 0 0.912rem 0;
}
.card .card-content-left {
	padding:16px;
	padding-left:0px;
}.card .card-content-right {
	padding:20px;
	padding-right:0px;
}
.row-table {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
}
.bg-dark {
    background-color: rgba(0, 0, 0, 0.1);
}
.padding20
{
	padding:20px;
}


/******************************************

Company Widget

*******************************************/
.dashboard-pinned-project-1 .x-header {
    background-color: #1AAADA;
}
.dashboard-pinned-project-header .project-client-name {
    display: block;
    font-size: 16px;
    font-weight: bold;
}
.dashboard-pinned-project-header .project-title {
    display: block;
}
.dashboard-pinned-project .x-icon-contaner {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 18px;
    opacity: 0.3;
}
.dashboard-pinned-project-footer {
    display: table;
    width: 100%;
    border-left: solid 1px #e7e7e7;
    border-right: solid 1px #e7e7e7;
    border-bottom: solid 1px #e7e7e7;
    background-color: #ffffff;
    margin-bottom: 20px;
    border-radius: 0 0 2px 2px;
}
.dashboard-pinned-project-footer li {
    display: table-cell;
    width: 33.33%;
    padding: 9px 5px;
    text-align: center;
}
.border-right {
    border-right: solid 1px #e7e7e7;
}
.dashboard-pinned-project-footer .text-count {
    font-size: 16px;
    font-weight: bold;
}
.dashboard-pinned-project-footer .text-description {
    text-transform: uppercase;
}
.text-muted {
    color: #999999 !important;
}
.dashboard-pinned-project-header {
    padding: 10px 15px;
    color: #FFFFFF;
    border-radius: 0px 0px 0 0;
    position: relative;
}

/*************************************************

Modern Dashboard

**************************************************/
.blog-news .overlaybg {
    overflow: hidden;
    height: 409px;
}
.blog-news .news-content {
    position: absolute;

    z-index: 10;
    width: 100%;
    bottom: 0;
    padding: 30px;
	margin-bottom:30px;
}
.blog-news h2, .blog-news a
{
	color:#fff;
}

/****************************************

User Comment

*****************************************/
.comment{margin-left:-15px; margin-right:-15px;}
.comment .message-content{padding:0px 15px;     margin-bottom: 0px; padding-top:10px;padding-bottom:10px;}
.comment .message-content:last-child{    border-bottom: 0px solid #e7eaec; margin-bottom:-10px;}
.comment .user-img {
 width: 40px;
    display: table-cell;
    position: relative;
    margin: 0px 10px 0px 0px;
    float: left;
}
.comment-message
{
	display:table-cell;
}

/**************************************

Material + Boostrap

***************************************/
.form-group {
    padding-bottom: 7px;
    margin: 0px 0 0 0;
}
[class*="panel-"] > .panel-heading {

    border: 0;
    border-bottom: 1px solid #eef1f5;
	    background-color: #fff;
}
.panel-heading .btn.btn-xs, .panel-heading .btn:not(.btn-raised):not(.btn-link):hover, .panel-heading .input-group-btn .btn:not(.btn-raised):not(.btn-link):hover, .panel-heading .btn:not(.btn-raised):not(.btn-link):focus, .panel-heading .input-group-btn .btn:not(.btn-raised):not(.btn-link):focus{
	padding: 4px 6px;
	background:#03a9f4;
	color: #fff;
}
.btn-group, .btn-group-vertical {
    position: relative;
    margin: 0px 1px;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-heading .dropdown-menu
{
	left:auto;
	right:0px;
}

/***********************************************************************

Mail Box

*************************************************************************/
.mail-side-bar
{
	height:100%;
	background:#fff;
	padding:20px;
}
.mail-side-bar .lables {
    font-weight: 400;
    font-size: 11px;
    display: block;
    padding: 0 15px;
    text-transform: uppercase;
    color: #838383;
}
.mail-side-bar  li a {
    display: block;
    padding: 6px 15px 7px;
    font-size: 13px;
    color: #333;
}
.mail-side-bar .lables i {
    font-size: 14px;
    margin-top: 2px;
}
.star {
    color: #fff;
    background: #B7C1D3;
    display: block;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    border-radius: 50%;
    border: 1px solid #B7C1D3;
}
.file-box {
    float: left;
    width: 220px;
}
.file {
    border: 1px solid rgba(0,0,0,0.2);
    padding: 0;
    background-color: rgba(0,0,0,0.1);
    position: relative;
    margin-bottom: 20px;
    margin-right: 20px;
}
.file .icon {
    padding: 15px 10px;
    text-align: center;
}
.file .icon i {
    font-size: 70px;
    color: #666;
}
.file .file-name {
    padding: 10px;
    background-color: #f5f5f5;
    border-top: 1px solid rgba(0,0,0,0.3);
}

/**********************************************

Lock Screen

************************************************/

.lockscreen {
    background-color: #f5f5f5;
    padding-top: 150px;
}
.locksreen-col {
    width: 220px;
    margin: 0 auto;
}
.lockscreen img {
    border: 6px solid rgba(0,0,0,0.1);
    border-radius: 50%;
}
.account-col {
    width: 370px;
    margin: 0 auto;
    text-align: center;
}
.account {
    background: #f5f5f5;
    padding-top: 150px;
}
.account-col h3 {
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: 400;
    text-transform: capitalize;
}
.account-col h1 {
    font-weight: 800;
    text-transform: uppercase;
    text-shadow: 1px 1px rgba(0,0,0,0.1);
    margin-bottom: 25px;
}

.error .container {
    max-width: 450px;
    text-align: center;
    padding-top: 200px;
}
body.error {
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.error-box {
    padding: 20px;
    background-color: rgba(255,255,255,0.7);
}
.gallery-col a {
    display: block;
    width: 20%;
    float: left;
    padding: 3px;
}
.tag-list a:hover {
    color: #01a8fe;
    border-color: #01a8fe;
}
.tag-list a {
    display: inline-block;
    margin: 3px;
    padding: 1px 5px;
    color: #666;
    border: 1px solid rgba(0,0,0,0.1);
    font-size: 12px;
    font-weight: 400;
    text-transform: capitalize;
    border-radius: 2px;
    -webkit-border-radius: 2px;
}

/*********

Pricing tables
**********/
.price-box{
        box-shadow: 1px 2px 15px rgba(255,255,255,0.05);
        -webkit-box-shadow: 1px 2px 15px rgba(255,255,255,0.05);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    text-align: center;
    padding-bottom: 20px;
    border: 1px solid rgba(255,255,255,0.1);
}
.price-box.popular h3{
    background-color: #01a8fe;
    color:#fff;
}
.price-box:hover{
   box-shadow: none;
    -webit-box-shadow: none;
}
.price-box h3{
    color:#333;
    background-color: transparent;
    text-transform: uppercase;
    padding: 20px;
    margin-bottom: 0px;
    font-weight: 700;
}
.price-box h4{
    font-size: 40px;
    font-weight: 700;
    background-color:rgba(0, 0, 0, 0.1);
    padding: 10px;
}
.price-box h4 sup, .price-box h4 sub{
    font-size: 12px;
}
.price-box h4 sup{
    vertical-align: top;
    top: 9px;
     font-weight: 400;
}
.price-box h4 sub{
       vertical-align: bottom;
    bottom: 7px;
    left: -9px;
    font-weight: 400;
}
.price-box h4 span{
    display: block;
    font-size: 13px;
    color:#01a8fe;
    font-weight: 600;
    margin-top: 5px;
}
.price-box ul{
    text-align: left;

}
.price-box ul li{
    padding: 8px 25px;
    font-weight: 400;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
.price-box ul li i{
    color:#01a8fe;
    margin-right: 10px;
}
.price-box p{
    padding: 20px 25px;
    font-size: 12px;
    line-height: 18px;

}

/**dark price**/
.price-box.dark{
    background-color: #222;
    border:0px;
}
.price-box.dark h4, .price-box.dark h3{
    color:#fff;
    background-color: rgba(68, 70, 79, 0.5);
}
.price-box.dark.popular h3{
    background-color: #01a8fe;
}
.price-box.dark ul li{
    border-bottom-color:rgba(255,255,255,0.1);
    color: rgba(255,255,255,0.8);
}
.price-box.dark  p{
     color: rgba(255,255,255,0.8);
}

.socials li a:hover {
    color: #fff;
    background-color: #01a8fe;
}
.socials li a {
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    background-color: #4c5761;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    color: #fff;
    font-size: 18px;
    display: block;
}

/************** Responsive **************/
@media (min-width: 768px) and (max-width: 991px)
{
.wdt-lable{width:100%; text-align:center;}
.background-icon {

    width: 100%;
    text-align: center;
}
}
@media (max-width: 767px)
{
.wdt-lable{width:70%; }

}
/*************bootstrap wizard form css****/
.bwizard ul.bwizard-steps{
    margin-bottom: 30px;
}
.bwizard ul.pager{
    margin-bottom: 0px;
}
.bwizard-steps li a{
    display: block;
    padding: 8px 20px;
        background-color:  rgba(0, 0, 0, 0.1);
    color: #666;
    border-radius: 5px;
    margin-bottom: 5px;
}
.bwizard-steps li.completed a{
    background-color: #333;
    color:#fff;
}
.bwizard-steps li.active a{
    background-color: #01a8fe;
    color:#fff;
}
.bwizard-steps li.completed a{
    background-color: #01a8fe;
    color:#fff;
}
.pager li>a, .pager li>span,.pager .disabled>a, .pager .disabled>a:focus, .pager .disabled>a:hover, .pager .disabled>span {
    display: inline-block;
    padding: 5px 14px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0,0,0,0.02);
    border-radius: 15px;
}
.pager li>a:hover, .pager li>span:hover,.pager li>a:focus, .pager li>span:focus{
    background-color:  #01a8fe;
    color: #fff;
}
input[type=checkbox], input[type=radio]{
    margin: 8px 0 0 ;
}
.bwizard .control-label{
    font-size: 12px;
}
.dropzone {
    min-height: 150px;
    border: 1px dotted rgba(0, 0, 0, 0.3) !important;
    background: white;
    padding: 20px 20px;
    margin-top: 20px;
}

.sweet-buttons .btn-primary, .btn-default[data-toggle="tooltip"], .btn-default[data-toggle="popover"] {
    margin: 3px;
}
.alert-dismissable .close, .alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: #000!important;
    opacity: 1;
}
.progress {
    -webkit-box-shadow: none !important;
    background-color: rgba(120, 130, 140, 0.13);
    box-shadow: none !important;
    height: 4px;
    border-radius: 0px;
    margin-bottom: 18px;
    overflow: hidden;
}
#markermap
{
	min-height:300px !important;
}
.white
{
	background: #fff;
}
.h370
{
	height:370px;
}
.h180
{
	height:180px;
}
.h600
{
	height:600px;
}
.w80
{
	width:80px;
}
.wmap
{
	width: 100%; height: 280px
}
.line-through
{
	text-decoration: line-through;
}
.sq100
{
	width: 100px; height: 100px;
}
.h20
{
	height:20px;
}
.vpmap
{
	width: 100%; height: 550px
}
